* {
    padding: 0px;
    border: none;
    margin: 0px;
    font-size: 0px;
    line-height: 1;
}

html {
    background-color: #9DC9F0;
}

body {
    font-family: "Lato", sans-serif;
    min-width: 900px;
}

.bgStripe {
    display: inline-block;
    background-color: #1B3F1D;
    height: 1080px;
    width: 20%;
    vertical-align: top;
    min-width: 180px;
    position: relative;
}

.bgStripe.bgStripe_2 {
    background-color: #2B522F;
}

.bgStripe.bgStripe_3 {
    background-color: #4A704F;
}

.bgStripe.bgStripe_4 {
    background-color: #6A8D6F;
}

.bgStripe.bgStripe_5 {
    background-color: #8AAB8F;
}

.bgStripe_1 img {
    display: block;
    margin: 50px auto 0px;
}

.loginWindow {
    background-color: #032C0E;
    height: 720px;
    width: 720px;
    border-radius: 25px;
    position: absolute;
    left: calc(50% - 360px);
    top: 220px;
    z-index: 1;
    text-align: center;
}

.loginWindow h2 {
    margin: 90px auto 0px;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 80px;
    text-align: center;
}

.loginWindow h3 {
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 0px 10px;
    margin: 15px auto 0px;
    font-size: 40px;
    line-height: 50px;
    border-radius: 10px;
}

.loginWindow .AccPW_Field {
    display: inline-block;
    box-sizing: border-box;
    height: 75px;
    width: 380px;
    border: 3px solid #FFFFFF80;
    margin: 25px auto 0px;
    text-align: left;
}

.loginWindow .accountField {
    margin-top: 90px;
}

.loginWindow img {
    margin: 9px 15px 0px;
}

.loginWindow .AccPW_Input {
    background-color: transparent;
    width: 290px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 68px;
    vertical-align: top;
}

.loginWindow #btn_Login {
    display: block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 380px;
    border: 3px solid #B6B6B6;
    margin: 70px auto 0px;
    font-size: 36px;
    color: #000000;
    text-decoration: none;
    line-height: 64px;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
}

.loginWindow #logintext {
    display: block;
    /* background-color: #FFFFFF; */
    box-sizing: border-box;
    width: 380px;
    /* border: 3px solid #B6B6B6; */
    margin: 20px auto 0px;
    font-size: 25px;
    color: #fffb00;
    /* text-decoration: none; */
    /* line-height: 64px; */
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
}

/* .loginWindow a {
    display: block;
    height: 40px;
    width: 40px;
} */

.loginWindow #warning {
    display: block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 3px solid #B6B6B6;
    margin: 30px 0 0 0;
    font-size: 36px;
    color: #000000;
    text-decoration: none;
    line-height: 64px;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    visibility: hidden;
}   

#warning{
    visibility: hidden;
  }

  
