.subNavBar .button_sNB {
    padding-right: 15px;
}

.subNavBar #sNB_01 {
    left: 15px;
}

.subNavBar #sNB_02 {
    left: 0px;
}

body {
    min-width: 1740px;
}  

.logicCtrl_emerCmd {
    display: inline-block;
    /* background-color: #FFaFFF; */
    width: 37.5%;
    height: 850px;
    margin: 0px 0.2976% 10px 1.19%;
    vertical-align: top;
}

.logicCtrl {
    background-color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.logicCtrl h2 {
    background-color: #F9E06C;
    box-sizing: border-box;
    height: 55px;
    border: 5px solid #FFFFFF;
    font-size: 36px;
    line-height: 45px;
    border-radius: 20px;
}

.logicCtrl .DS_Line {
    margin: 0px 3.968%;
    line-height: 40px;
    /* min-width: 320px; */
    /* background-color: #AAFF00; */
}

.logicCtrl .DS_Line .dataStatus {
    width: calc(100% - 350px - 45px);
    right: 45px;
    top: 8px;
    /* background-color: #FFAA00; */
}

.logicCtrl .DS_Line .setButton {
    background: linear-gradient(170deg, #F9E06C, #FFFFFF, #F9E06C);
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    border: 2px solid #B6B6B6;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 2px;
}

.logicCtrl .DV_Line {
    margin: 0px 3.968%;
    line-height: 40px;
    /* min-width: 320px; */
    /* background-color: #8080FF; */
}

.logicCtrl .DV_Line .dataValue {
    /* width: 130px; */
    right: 110px;
    top: 8px;
    /* background-color: #FF00AA; */
}

.logicCtrl .DV_Line .dataUnit {
    width: 100px;
    /* right: 0px; */
    top: 8px;
    /* background-color: #FFAA00; */

}

.emergencyCmd {
    background-color: #FFFFFF;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.emergencyCmd .title {
    background-color: #F9E06C;
    box-sizing: border-box;
    height: 55px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}

.emergencyCmd h2 {
    display: inline-block;
    font-size: 36px;
    line-height: 45px;
}

.emergencyCmd table {
    border-collapse: collapse;
    width: 100%;
}

.emergencyCmd tr td {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #BBBBBB;
    font-size: 20px;
}

.emergencyCmd table .col_01 {
    width: 170px;
    text-align: center;
    border-left: none;
}

.emergencyCmd table .col_02 {
    width: 230px;
}

.emergencyCmd table .col_03 {
    width: 230px;
    border-right: none;
}

.emergencyCmd .row_01 {
    text-align: center;
}

.emergencyCmd .cmdIndicator {
    display: inline-block;
    background-color: #BBBBBB;
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    border: 2px solid #808080;
    margin: 4px 0px;
    margin-left: calc(50% - 75px);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    vertical-align: top;
    border-radius: 10px;
}

.emergencyCmd #exeCmdInd.running {
    background-color: #E53935;
}

.emergencyCmd #exeCmdInd.Err {
    background-color: #FF00FF;
}

.emergencyCmd #sbyCmdInd.standby {
    background-color: #F9E06C;
}

.emergencyCmd .cmdIndicator.ErrData {
    background-color: #000000;
}

.emergencyCmd .cmdStatus {
    display: inline-block;
    box-sizing: border-box;
    margin: 9px 0px 0px 10px;
    font-size: 20px;
    vertical-align: top;
}

.emergencyCmd .cmdDateTime {
    margin-left: calc(50% - 90px);
    font-size: 20px;
}

.emergencyCmd .cmd_P {
    display: inline-block;
    box-sizing: border-box;
    width: 85px;
    margin: 0px 10px 0px calc(50% - 80px);
    font-size: 20px;
    text-align: right;
}

.emergencyCmd .row_last span {
    font-size: 20px;
}

/* .scheduleSwitch {
    background-color: #F9E06C;
    box-sizing: border-box;
    height: 70px;
    width: 97.619%;
    border: 5px solid #FFFFFF;
    margin: 10px 1.19% 0px;
    border-radius: 20px;
}

.scheduleSwitch .switch {
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 38px;
    width: 72px;
    border: 1px solid #000000;
    margin: 11px 0px 0px 10px;
    border-radius: 30px;
    position: relative;
}

.scheduleSwitch button {
    background-color: #FF0000;
    color: #FFFFFF;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 15px;
}

@keyframes scheduleSW_On {
    0% {
        left: 2px;
        background-color: #FF0000;
    }

    100% {
        left: 36px;
        background-color: #236E37;
    }
}

@keyframes scheduleSW_Off {
    0% {
        left: 36px;
        background-color: #236E37;
    }

    100% {
        left: 2px;
        background-color: #FF0000;
    }
}

.scheduleSwitch h2 {
    display: inline-block;
    font-size: 36px;
    margin: 12px 0px 0px 10px;
    vertical-align: top;
} */

.schedule {
    display: inline-block;
    background-color: #FFFFFF;
    width: 59.5238%;
    padding-bottom: 5px;
    margin: 0px 1.19% 10px 0.2976%;
    border-radius: 10px;
}

.schedule .title {
    background-color: #F9E06C;
    box-sizing: border-box;
    height: 55px;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}

.schedule h2 {
    display: inline-block;
    font-size: 36px;
    line-height: 45px;
}

.schedule .subTitle {
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 36px;
    border: 1px solid #F9E06C;
    margin: 0px 5px;
    border-radius: 20px;
    position: relative;
}

.schedule #schdDate {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 15px 0px 20px;
    font-size: 24px;
    line-height: 34px;
}

.schedule .setButton {
    /* background: linear-gradient(170deg, #F9E06C, #FFFFFF, #F9E06C); */
    background: linear-gradient(170deg, #BBBBBB, #FFFFFF, #BBBBBB);
    /* background-color: #EEEEEE; */
    box-sizing: border-box;
    height: 30px;
    width: 120px;
    border: 1px solid #808080;
    margin-top: 2px;
    font-size: 20px;
    line-height: 28px;
    border-radius: 10px;
    vertical-align: top;
}

.schedule #goToAnotherDay {
    position: absolute;
    right: 15px;
    top: 0px;
}

.schedule table {
    border-collapse: collapse;
    background-color: #EEEEEE;
    margin: 0px 5px;
    border-radius: 20px;
}

.schedule tr td {
    box-sizing: border-box;
    height: 29px;
    border: 1px solid #BBBBBB;
    font-size: 20px;
}

.schedule .row_head {
    text-align: center;
}

.schedule .row_01 td {
    border-top: none;
}

.schedule .row_last td {
    border-bottom: none;
}

.schedule .col_01 {
    width: 64px;
    border-left: none;
    text-align: center;
}

.schedule .col_last {
    border-right: none;
}

.schedule .col_other {
    width: 78px;
}

.schedule .P_schd,
.schedule .P_cmd,
.schedule .socRefVal {
    display: inline-block;
    /* background-color: #fa0; */
    font-size: 20px;
    text-align: right;
}

.schedule .P_schd {
    margin-left: calc(50% - 30px);
    width: 60px;
}

.schedule .P_cmd {
    margin-left: calc(50% - 28px);
    width: 55px;
}

.schedule .socRefVal {
    margin-left: calc(50% - 25px);
    width: 50px;
}

.popUpWindow.setScheduleW {
    height: 880px;
    width: 660px;
    left: 390px;
    top: -60px;
}

.setScheduleW .title_setBut {
    margin: 15px 20px 10px;
    position: relative;
}

.setScheduleW .titlePUW {
    padding-left: 20px;
    margin: 0px;
    text-align: left;
}

.setScheduleW .title_setBut .setButton {
    background: linear-gradient(170deg, #BBBBBB, #FFFFFF, #BBBBBB);
    box-sizing: border-box;
    height: 32px;
    width: 150px;
    border: 1px solid #808080;
    margin-top:3px;
    font-size: 20px;
    border-radius: 10px;
    vertical-align: top;
    position: absolute;
    right: 20px;
    top: 1px;
}

.setScheduleW .title_setBut #winAllBid {
    right: 175px;
}

.setScheduleW table {
    border-collapse: collapse;
    margin: 0px 0px 10px 20px;
}

.setScheduleW tr td {
    box-sizing: border-box;
    height: 29px;
    border: 1px solid #BBBBBB;
    font-size: 20px;
    text-align: center;
}

.setScheduleW .col_01 {
    width: 50px;
}

.setScheduleW .col_other {
    width: 70px;
}

.setScheduleW .P_schd_set,
.setScheduleW .P_cmd_set {
    /* background-color: #fa0; */
    box-sizing: border-box;
    height: 28px;
    width: 65px;
    font-size: 20px;
    text-align: right;
}

.setScheduleW .closeWindowButton {
    margin-top: 0px;
}

.setScheduleW #closeWB_Yes {
    margin-left: 270px;
}

.popUpWindow.dataStatus_Set .titlePUW {
    margin: 25px 11px 0px;
}
