.subNavBar .default_sNB {
    background-color: #F2F8E6;
}

.M_Page {
    background-color: #F2F8E6;
}

.singleLineD_oilTemp {
    /* background-color: #afffff; */
    display: inline-block;
    margin: 0px 0.2976% 10px 1.488%;
}

.singleLineD {
    background-color: #FFFFFF;
    padding: 15px 0px 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.singleLineD h2 {
    background-color: #CBE198;
    box-sizing: border-box;
    width: 270px;
    /* padding: 5px 20px; */
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.singleLineD .status_CB {
    display: inline-block;
    background-color: #236E37;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    position: absolute;
}

.singleLineD .status_CB.setToClose {
    background-color: #FF0000;
}

.singleLineD .status_CB.Err {
    background-color: #FFFF00;
}

.singleLineD .status_CB.ErrData {
    background-color: #9D653D;
}

.singleLineD .ctrlable {
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    border: 3px solid #000000;
    position: absolute;
    left: 2px;
    top: 2px;
}

.singleLineD #MVCB {
    left: 131px;
    top: 209px;
}

.singleLineD #VCB_1 {
    left: 131px;
    top: 339px;
}

.singleLineD #VCB_2 {
    left: 364px;
    top: 339px;
}

.singleLineD #VCB_3 {
    left: 597px;
    top: 339px;
}

.singleLineD #VCB_4 {
    left: 815px;
    top: 339px;
}

.singleLineD #VCB_aux {
    left: 1032px;
    top: 339px;
}

.singleLineD #ACB_1_1 {
    left: 131px;
    top: 419px;
}

.singleLineD #ACB_1_2 {
    left: 69px;
    top: 503px;
}

.singleLineD #ACB_1_3 {
    left: 193px;
    top: 503px;
}

.singleLineD #ACB_2_1 {
    left: 364px;
    top: 419px;
}

.singleLineD #ACB_2_2 {
    left: 302px;
    top: 503px;
}

.singleLineD #ACB_2_3 {
    left: 426px;
    top: 503px;
}

.singleLineD #ACB_3_1 {
    left: 597px;
    top: 419px;
}

.singleLineD #ACB_3_2 {
    left: 535px;
    top: 503px;
}

.singleLineD #ACB_3_3 {
    left: 659px;
    top: 503px;
}

.singleLineD #ACB_4_1 {
    left: 815px;
    top: 419px;
}

.singleLineD .status_Rly,
.singleLineD .status_Recloser {
    display: inline-block;
    background-color: #B6B6B6;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    position: absolute;
}

.singleLineD .status_Rly.setToClose,
.singleLineD .status_Recloser.setToClose {
    background-color: #FF0000;
}

.singleLineD #Rly_MVCB {
    left: 70px;
    top: 176px;
}

.singleLineD #Recloser_MVCB {
    left: 70px;
    top: 241px;
}

.singleLineD #Rly_VCB_1 {
    left: 70px;
    top: 363px;
}

.singleLineD #Rly_VCB_2 {
    left: 303px;
    top: 363px;
}

.singleLineD #Rly_VCB_3 {
    left: 536px;
    top: 363px;
}

.singleLineD #Rly_VCB_4 {
    left: 754px;
    top: 363px;
}

.singleLineD #Rly_VCB_aux {
    left: 971px;
    top: 363px;
}

.legend {
    /* box-sizing: border-box; */
    /* border-radius: 5px; */
    position: absolute;
    right:0px;
    top:20px;
}

.legend p {
    font-size: 28px;
    line-height: 35px;
}

.legend .legendLine {
    display: inline-block;
    width: 140px;
    font-size: 28px;
    line-height: 35px;
}

.legend .status_CB {
    margin-top: 7px;
}

.legend .status_CB.noBG {
    background-color: #FFFFFF;
}

.legend .legendLine p {
    margin-left: 25px;
}

.oilTemp {
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.oilTemp h3 {
    background-color: #CBE198;
    box-sizing: border-box;
    width: 270px;
    margin: 5px;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.oilTemp .infoTR {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 5px;
}

.oilTemp .no_of_TR {
    background-color: #CBE19880;
    box-sizing: border-box;
    width: calc(100% - 38px);
    padding: 0px 0px 0px 10px;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 35px;
    position: relative;
}

.oilTemp .BG_thermo {
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: -38px;
}

.oilTemp img {
    position: absolute;
    bottom: 12.5px;
    right: 26.5px;
}

.oilTemp .thermoBar {
    background-color: #FE922D;
    height: 20px;
    width: 3px;
    border-radius: 1.5px;
    position: absolute;
    bottom: 24px;
    right: 36px;
}

.oilTemp .thermoBottom {
    background-color: #FE922D;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    bottom: 19px;
    right: 33px;
}

/* /////////////////////////////////////////////////// */
.oilTemp #thermoBar_TR2 {
    background-color: #236E37;
    height: 2px;
}

.oilTemp #thermoBot_TR2 {
    background-color: #236E37;
}

.oilTemp #thermoBar_TR3 {
    background-color: #E53935;
    height: 32px;
}

.oilTemp #thermoBot_TR3 {
    background-color: #E53935;
}

/* /////////////////////////////////////////////////// */

.oilTemp .temp_of_TR {
    background-color: #CBE19880;
    box-sizing: border-box;
    padding: 0px 80px 0px 0px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    border-radius: 0px 0px 0px 10px;
}

.oilTemp label {
    display: inline-block;
    padding: 0px 5px 0px 0px;
    font-size: 24px;
}

.Meter {
    display: inline-block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: calc(100% - 1.488% - 1.488% - 1150px - 10px);
    padding: 5px;
    margin: 0px 1.488% 10px 0.2976%;
    border-radius: 5px;
    vertical-align: top;
    min-width: 400px;
}

.Meter .table_M {
    /* border-collapse: collapse; */
    border-spacing: 5px;
}

.table_M tr td {
    background-color: #F2F8E6;
    box-sizing: border-box;
    height: 35px;
    font-size: 24px;
}

.table_M .row_01 td {
    background-color: #CBE198;
    height: 50px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}

.table_M .row_02 td {
    background-color: #CBE198C0;
}

.Meter .table_sub {
    border-spacing: 5px;
}

.Meter .table_sub tr td {
    background-color: #FFFFFF;
    height: 105px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}

.Meter .table_sub .BG_2 {
    background-color: #FAFEF3CC;
}

.Meter .table_sub .dataName {
    padding: 8px 0px 0px;
    font-size: 24px;
    text-align: center;
}

.Meter .table_sub label {
    display: block;
    box-sizing: border-box;
    padding: 5px 0px 0px;
    text-decoration: underline;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
}

.Meter .table_sub .dataUnit {
    padding: 5px 10px 0px 0px;
    font-size: 24px;
    text-align: right;
}

.table_M .col_01 {
    width: 220px;
    padding-left: 6px;
}

.table_M .col_other {
    width: 225px;
    text-align: right;
}

.table_M .row_other label {
    font-size: 24px;
}

.table_M .row_other p {
    display: inline-block;
    box-sizing: border-box;
    width: 65px;
    margin-left: 0px;
    font-size: 24px;
    text-align: left;
}

.popUpWindow.info_Recloser {
    height: calc(165px + 35px*6);
    width: 850px;
    left: 295px;
    top: 190px;
}

.info_Recloser .titlePUW {
    display: inline-block;
    width: 240px;
    /* margin: 25px 20px 0px; */
}

.info_Recloser .columnDLL {
    display: inline-block;
    width: 280px;
    margin-top: 20px;
    vertical-align: top;
}

.popUpWindow .DL_Line {
    margin: 0px 10px;
}

.info_Recloser .DL_Line {
    padding-left: 5px;
}

.info_Recloser .DL_Line .dataLight {
    right: 5px;
}

.info_Recloser .closeWindowButton {
    margin: 20px 0px 0px 395px;
}

.popUpWindow.info_RelayMVCB {
    height: calc(165px + 35px*12);
    width: 850px;
    left: 295px;
    top: 85px;
}

.info_RelayMVCB .titlePUW {
    margin: 25px 285px 0px;
}

.info_RelayMVCB .columnDLL {
    display: inline-block;
    width: 280px;
    margin-top: 20px;
    vertical-align: top;
}

.info_RelayMVCB .DL_Line {
    padding-left: 5px;
}

.info_RelayMVCB .DL_Line .dataLight {
    right: 5px;
}

.info_RelayMVCB .closeWindowButton {
    margin: 20px 0px 0px 395px;
}

.popUpWindow.info_RelayVCB {
    height: calc(165px + 35px*6);
    width: 570px;
    left: 435px;
    top: 190px;
}

.info_RelayVCB .titlePUW {
    margin: 25px 145px 0px;
}

.info_RelayVCB .columnDLL {
    display: inline-block;
    width: 280px;
    margin-top: 20px;
    vertical-align: top;
}

.info_RelayVCB .DL_Line {
    padding-left: 5px;
}

.info_RelayVCB .DL_Line .dataLight {
    right: 5px;
}

.info_RelayVCB .closeWindowButton {
    margin: 20px 0px 0px 255px;
}
