.subNavBar .button_sNB {
    padding-right: 15px;
}

.subNavBar .default_sNB {
    background-color: #F2F8E6;
}

.M_Page {
    background-color: #F2F8E6;
}

body {
    min-width: 1850px;
}

.commArchiD {
    background-color: #F2F8E6;
    padding: 0px 0px 2px;
    margin: 0px calc((100% - 1600px) / 2);
    position: relative;
}

.commArchiD .dataLight {
    height: 20px;
    width: 20px;
    position: absolute;
}

.commArchiD #EMS_1 {
    left: 244px;
    top: 442px;
}

.commArchiD #EMS_2 {
    left: 364px;
    top: 442px;
}

.commArchiD #DC {
    left: 481px;
    top: 442px;
}

.commArchiD #HMI {
    left: 599px;
    top: 442px;
}

.commArchiD #GC_1 {
    left: 482px;
    top: 554px;
}

.commArchiD #GC_2 {
    left: 599px;
    top: 554px;
}

.commArchiD #HVAC_1 {
    left: 244px;
    top: 665px;
}

.commArchiD #HVAC_2 {
    left: 364px;
    top: 665px;
}

.commArchiD #UPS_EMS {
    left: 482px;
    top: 665px;
}

.commArchiD #UPS_CCTV {
    left: 599px;
    top: 665px;
}

.commArchiD #RIO_CtrlRoom {
    left: 364px;
    top: 554px;
}

.commArchiD #FreqMeter {
    left: 478px;
    top: 98px;
}

.commArchiD #AuxM_MVCB {
    left: 599px;
    top: 206px;
}

.commArchiD #Relay_MVCB {
    left: 363px;
    top: 206px;
}

.commArchiD #UPS_MVCB {
    left: 478px;
    top: 206px;
}

.commArchiD #Recloser {
    left: 239px;
    top: 206px;
}

.commArchiD #RIO_MVCB_1 {
    left: 239px;
    top: 98px;
}

.commArchiD #RIO_MVCB_2 {
    left: 363px;
    top: 98px;
}

.commArchiD #TH_MVCB {
    left: 599px;
    top: 98px;
}

.commArchiD #Relay_VCB1 {
    left: 731px;
    top: 98px;
}

.commArchiD #Relay_VCB2 {
    left: 731px;
    top: 206px;
}

.commArchiD #Relay_VCB3 {
    left: 851px;
    top: 98px;
}

.commArchiD #Relay_VCB4 {
    left: 851px;
    top: 206px;
}

.commArchiD #Relay_VCB_Aux {
    left: 969px;
    top: 98px;
}

.commArchiD #TR_Aux {
    left: 969px;
    top: 206px;
}

.commArchiD #AuxM_total {
    left: 1088px;
    top: 98px;
}

.commArchiD #AuxM_ESS1_1 {
    left: 1213px;
    top: 98px;
}

.commArchiD #AuxM_ESS1_2 {
    left: 1213px;
    top: 206px;
}

.commArchiD #AuxM_ESS2_1 {
    left: 1327px;
    top: 98px;
}

.commArchiD #AuxM_ESS2_2 {
    left: 1327px;
    top: 206px;
}

.commArchiD #AuxM_ESS3_1 {
    left: 1447px;
    top: 98px;
}

.commArchiD #AuxM_ESS3_2 {
    left: 1447px;
    top: 206px;
}

.commArchiD #AuxM_ESS4 {
    left: 1568px;
    top: 98px;
}

.commArchiD #AuxM_CtrlRoom {
    left: 1568px;
    top: 206px;
}

.commArchiD #TR_1 {
    left: 1447px;
    top: 330px;
}

.commArchiD #TR_2 {
    left: 1568px;
    top: 330px;
}

.commArchiD #TR_3 {
    left: 1447px;
    top: 442px;
}

.commArchiD #TR_4 {
    left: 1568px;
    top: 442px;
}

.commArchiD #RIO_ACP_1 {
    left: 727px;
    top: 442px;
}

.commArchiD #RIO_ACP_2 {
    left: 846px;
    top: 442px;
}

.commArchiD #RIO_ACP_3 {
    left: 965px;
    top: 442px;
}

.commArchiD #RIO_ACP_4 {
    left: 1082px;
    top: 442px;
}

.commArchiD #UPS_ACP {
    left: 1327px;
    top: 330px;
}

.commArchiD #LC_1 {
    left: 852px;
    top: 620px;
}

.commArchiD #LC_2 {
    left: 1090px;
    top: 620px;
}

.commArchiD #LC_3 {
    left: 1327px;
    top: 620px;
}

.commArchiD #LC_4 {
    left: 1568px;
    top: 620px;
}

.commArchiD #PCS1_1 {
    left: 852px;
    top: 782px;
}

.commArchiD #PCS1_2 {
    left: 852px;
    top: 811px;
}

.commArchiD #BMS1_1 {
    left: 736px;
    top: 782px;
}

.commArchiD #BMS1_2 {
    left: 736px;
    top: 811px;
}

.commArchiD #PCS2_1 {
    left: 1090px;
    top: 782px;
}

.commArchiD #PCS2_2 {
    left: 1090px;
    top: 811px;
}

.commArchiD #BMS2_1 {
    left: 974px;
    top: 782px;
}

.commArchiD #BMS2_2 {
    left: 974px;
    top: 811px;
}

.commArchiD #PCS3_1 {
    left: 1327px;
    top: 782px;
}

.commArchiD #PCS3_2 {
    left: 1327px;
    top: 811px;
}

.commArchiD #BMS3_1 {
    left: 1213px;
    top: 782px;
}

.commArchiD #BMS3_2 {
    left: 1213px;
    top: 811px;
}

.commArchiD #PCS4 {
    left: 1568px;
    top: 782px;
}

.commArchiD #BMS4 {
    left: 1447px;
    top: 782px;
}


.commArchiD #DEMO_1 {
    left: 480px;
    top: 775px;
}

.commArchiD #DEMO_2 {
    left: 480px;
    top: 801px;
}