.R_Main {
    min-width: 1330px;
}

.subNavBar .button_sNB {
    padding-right: 15px;
}

.subNavBar .default_sNB {
    background-color: #FFFBED;
}

.M_Page {
    background-color: #FFFBED;
}

.title {
    background-color: #F9E06CB3;
    height: 50px;
    margin: 10px 1.488% 5px;
    border-radius: 25px;
}

.title h2 {
    font-size: 36px;
    line-height: 50px;
}

.subtitle {
    background-color: #F9E06CB3;
    height: 50px;
    border-radius: 25px;
    margin-top: 5px;
}

.subtitle h2 {
    font-size: 36px;
    line-height: 50px;
}

.environSC {
    background-color: #FFFFFF80;
    margin: 5px 1.488% 10px;
    border-radius: 10px;
}

.environSC table {
    box-sizing: border-box;
    width: 100%;
    padding: 3px 0.1843%;
    border-spacing: 0.1226% 2px;
}

.environSC tr td {
    background-color: #F9E06C80;
    box-sizing: border-box;
    height: 34px;
    font-size: 20px;
    /* line-height: 34px; */
    text-align: center;
}

.environSC .col_01 {
    width: 12.638%;
}

.environSC .col_other {
    /* width: 12.27%; */
    width: 198px;
}

.environSC .row_head td {
    background-color: #F9E06CC0;
    font-size: 30px;
    line-height: 40px;
}

.environSC .row_head .col_01 {
    border-radius: 20px 0px 0px 20px;
}

.environSC .row_head .col_last {
    border-radius: 0px 20px 20px 0px;
}

.environSC .row_spare td {
    background-color: transparent;
    height: 2px;
}

.environSC .dataStatus {
    display: inline-block;
    padding: 7px 0px;
    width: 52%;
    font-size: 20px;
    line-height: 1;
    /* background-color: #ffaa00; */
}

.environSC .row_set td,
.environSC .row_DL_1st td {
    position: relative;
}

.environSC .setButton {
    background: linear-gradient(170deg, #F9E06C, #FFFFFF, #F9E06C);
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    border: 2px solid #B6B6B6;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 3px;
}

.environSC .dataValue {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    padding-right: 10%;
    font-size: 20px;
    line-height: 34px;
    text-align: right;
    /* background-color: #af0; */
}

.environSC .row_set .dataValue {
    padding-right: 17%;
}

.environSC .row_set .col_last .dataValue {
    padding-right: 10%;
}

.environSC .row_ACU .col_other,
.environSC .row_TH .col_other {
    text-align: right;
}

.environSC .row_ACU .dataStatus {
    text-align: center;
}

.environSC .row_ACU .dataValue {
    width: 40%;
}

.environSC .row_upsMode .dataStatus {
    width: 90%;
}

.environSC .dataLight {
    margin: 3px 0px;
    vertical-align: top;
    margin:0 8%;
    position: relative;
}

.dataLight.spareL{
    background-color: transparent;
}

.dataLight.RGB_L.setToRed {
    background-color: #FF0000;
}
  
.dataLight.RGB_L.setToGreen {
    background-color: #00FF75;
}

.dataLight.setToGreen {
    background-color: #236E37;
}

.dataLight p{
    font-size: 20px;
    background-color: #FFFBED;
    border: solid 1px gray;
    position: absolute;
    left:20px;
    bottom: 20px;
    z-index: 10;
    padding: 3px 0;
    min-width: 100px;
    visibility: hidden;
}

#ups_EMS_408161_bit9:hover > p{
    visibility: visible;
}

#ups_EMS_408161_bit11:hover > p{
    visibility: visible;
}

#ups_EMS_408161_bit12:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit6:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit8:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit10:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit11:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit12:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit13:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit14:hover > p{
    visibility: visible;
}

#ups_EMS_408162_bit15:hover > p{
    visibility: visible;
}

#ups_CMS_408161_bit9:hover > p{
    visibility: visible;
}

#ups_CMS_408161_bit11:hover > p{
    visibility: visible;
}

#ups_CMS_408161_bit12:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit6:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit8:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit10:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit11:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit12:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit13:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit14:hover > p{
    visibility: visible;
}

#ups_CMS_408162_bit15:hover > p{
    visibility: visible;
}


.environSC .openEnvironAlm {
    background-color: transparent;
    height: 182px;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: 0px;
}

.info_EnvironAlm {
    /* display: block; */
    height: calc(140px + 30px*20);
    width: 850px;
    left: 295px;
    top: 10px;
}

.info_EnvironAlm .titlePUW {
    display: inline-block;
    width: 260px;
    margin: 20px 10px 0px;
}

.info_EnvironAlm .titlePUW.middleTitle {
    margin: 100px 10px 10px;
}

.info_EnvironAlm .columnDLL {
    display: inline-block;
    width: 280px;
    margin-top: 10px;
    vertical-align: top;
}

.info_EnvironAlm .DL_Line {
    padding-left: 5px;
    margin: 0px 10px;
    font-size: 20px;
    line-height: 30px;
}

.info_EnvironAlm .dataLight {
    height: 24px;
    width: 24px;
}

.info_EnvironAlm .closeWindowButton {
    margin: 15px 0px 0px 395px;
}


/* /////////////////////////////// */