.subNavBar .button_sNB {
    padding-right: 15px;
}

.subNavBar .default_sNB {
    background-color: #F2F8E6;
}

.M_Page {
    background-color: #F2F8E6;
}

body {
    min-width: 1850px;
}

.commArchiD {
    background-color: #FFFFFF;
    padding: 0px 0px 2px;
    margin: 0px calc((100% - 1600px) / 2);
    position: relative;
}

.commArchiD .dataLight {
    height: 20px;
    width: 20px;
    position: absolute;
}

.commArchiD #EMS_1 {
    left: 250px;
    top: 442px;
}

.commArchiD #EMS_2 {
    left: 366px;
    top: 442px;
}

.commArchiD #DC {
    left: 482px;
    top: 442px;
}

.commArchiD #HMI {
    left: 599px;
    top: 442px;
}

.commArchiD #GC_1 {
    left: 482px;
    top: 554px;
}

.commArchiD #GC_2 {
    left: 599px;
    top: 554px;
}

.commArchiD #HVAC_1 {
    left: 250px;
    top: 665px;
}

.commArchiD #HVAC_2 {
    left: 366px;
    top: 665px;
}

.commArchiD #UPS_EMS {
    left: 482px;
    top: 665px;
}

.commArchiD #UPS_CCTV {
    left: 599px;
    top: 665px;
}

.commArchiD #RIO_CtrlRoom {
    left: 366px;
    top: 554px;
}

.commArchiD #FreqMeter {
    left: 482px;
    top: 98px;
}

.commArchiD #AuxM_MVCB {
    left: 599px;
    top: 210px;
}

.commArchiD #Relay_MVCB {
    left: 366px;
    top: 210px;
}

.commArchiD #UPS_MVCB {
    left: 482px;
    top: 210px;
}

.commArchiD #Recloser {
    left: 250px;
    top: 210px;
}

.commArchiD #RIO_MVCB_1 {
    left: 250px;
    top: 98px;
}

.commArchiD #RIO_MVCB_2 {
    left: 366px;
    top: 98px;
}

.commArchiD #TH_MVCB {
    left: 599px;
    top: 98px;
}

.commArchiD #Relay_VCB1 {
    left: 732px;
    top: 98px;
}

.commArchiD #Relay_VCB2 {
    left: 732px;
    top: 210px;
}

.commArchiD #Relay_VCB3 {
    left: 845px;
    top: 98px;
}

.commArchiD #Relay_VCB4 {
    left: 845px;
    top: 210px;
}

.commArchiD #Relay_VCB_Aux {
    left: 962px;
    top: 98px;
}

.commArchiD #TR_Aux {
    left: 962px;
    top: 210px;
}

.commArchiD #AuxM_total {
    left: 1079px;
    top: 98px;
}

.commArchiD #AuxM_ESS1_1 {
    left: 1200px;
    top: 98px;
}

.commArchiD #AuxM_ESS1_2 {
    left: 1200px;
    top: 210px;
}

.commArchiD #AuxM_ESS2_1 {
    left: 1313px;
    top: 98px;
}

.commArchiD #AuxM_ESS2_2 {
    left: 1313px;
    top: 210px;
}

.commArchiD #AuxM_ESS3_1 {
    left: 1434px;
    top: 98px;
}

.commArchiD #AuxM_ESS3_2 {
    left: 1434px;
    top: 210px;
}

.commArchiD #AuxM_ESS4 {
    left: 1547px;
    top: 98px;
}

.commArchiD #AuxM_CtrlRoom {
    left: 1547px;
    top: 210px;
}

.commArchiD #TR_1 {
    left: 1434px;
    top: 330px;
}

.commArchiD #TR_2 {
    left: 1547px;
    top: 330px;
}

.commArchiD #TR_3 {
    left: 1434px;
    top: 442px;
}

.commArchiD #TR_4 {
    left: 1547px;
    top: 442px;
}

.commArchiD #RIO_ACP_1 {
    left: 732px;
    top: 442px;
}

.commArchiD #RIO_ACP_2 {
    left: 845px;
    top: 442px;
}

.commArchiD #RIO_ACP_3 {
    left: 966px;
    top: 442px;
}

.commArchiD #RIO_ACP_4 {
    left: 1079px;
    top: 442px;
}

.commArchiD #UPS_ACP {
    left: 1313px;
    top: 330px;
}

.commArchiD #LC_1 {
    left: 845px;
    top: 615px;
}

.commArchiD #LC_2 {
    left: 1079px;
    top: 615px;
}

.commArchiD #LC_3 {
    left: 1313px;
    top: 615px;
}

.commArchiD #LC_4 {
    left: 1547px;
    top: 615px;
}

.commArchiD #PCS1_1 {
    left: 845px;
    top: 771px;
}

.commArchiD #PCS1_2 {
    left: 845px;
    top: 799px;
}

.commArchiD #BMS1_1 {
    left: 732px;
    top: 771px;
}

.commArchiD #BMS1_2 {
    left: 732px;
    top: 799px;
}

.commArchiD #PCS2_1 {
    left: 1079px;
    top: 771px;
}

.commArchiD #PCS2_2 {
    left: 1079px;
    top: 799px;
}

.commArchiD #BMS2_1 {
    left: 966px;
    top: 771px;
}

.commArchiD #BMS2_2 {
    left: 966px;
    top: 799px;
}

.commArchiD #PCS3_1 {
    left: 1313px;
    top: 771px;
}

.commArchiD #PCS3_2 {
    left: 1313px;
    top: 799px;
}

.commArchiD #BMS3_1 {
    left: 1200px;
    top: 771px;
}

.commArchiD #BMS3_2 {
    left: 1200px;
    top: 799px;
}

.commArchiD #PCS4 {
    left: 1547px;
    top: 771px;
}

.commArchiD #BMS4 {
    left: 1434px;
    top: 771px;
}


.commArchiD #DEMO_1 {
    left: 480px;
    top: 775px;
}

.commArchiD #DEMO_2 {
    left: 480px;
    top: 801px;
}